@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(../../node_modules/react-datepicker/dist/react-datepicker.css);


:global{
  .row {
    display: flex;
  }

  .isCurrent {
    background:red;
    color:blue;
  }
}

body {
  background-color: #FFFFEE;
}

.flexContainer {
  padding: 0;
  margin: 0;
  width: 900px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: left;
}
.flexItem {
  margin-right: 25px;
  margin-left: 0px;
  width: 220px;
  margin-top: 10px;
  margin-bottom: 10px;
}