<!DOCTYPE html>
<html>
<head>
  <title>PDF</title>
  <%= wicked_pdf_stylesheet_link_tag 'application', media: 'all' %>
  <style>
    html {
        background-image:url('<%= "file://#{Rails.root.join('app','assets','images','background.jpg')}" %>');
        height: 1400px;
    }
  </style>
</head>
<body>
  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>